[Desktop Entry]
Name=Cameo
Comment=Display webcam as circular overlay on top of other windows
Exec=cameo --webcam 0
Icon=/home/gerson/.local/share/icons/cameo.png
Terminal=false
Type=Application
Categories=Utility;
